<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*"
             Language="1033"
             Manufacturer="Targon Industries"
             Name="WinIsTrans"
             UpgradeCode="B105DCFA-D702-40AE-B562-D8C9330EFA96"
             Version="2.0.0.0">

        <Package InstallScope="perMachine" Compressed="yes" />

        <MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />

        <MediaTemplate EmbedCab="yes" />

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLFOLDER" Name="WinIsTrans">
                    <Component Id="ProductComponent">
                        <File Id="WinIsTransAvalonia" Source="$(var.WinIsTransAvalonia.TargetPath)" KeyPath="yes" />
                    </Component>
                </Directory>
            </Directory>
        </Directory>

        <Feature Id="MainFeature">
            <ComponentRef Id="ProductComponent" />
        </Feature>

    </Product>
</Wix>